<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	Esta página tiene como objetivo brindarle al alumno una serie de servicios para que
	reuna en un mismo lugar todas las tareas asociadas a la gestión del trabajo práctico,
	desde la creación y participación del grupo, hasta el manejo del repositorio, integración
	contínua, etc:.
</p>