<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	Enma tiene como objetivo simplificar la inscripción del alumno a un grupo de un curso determinado Diseño de Sistemas.
  Una vez registrado, el usuario:

  <ul>
    <li>Recibirá un mail de invitación para formar parte de la organización Github en la cual efectuará la entrega de Trabajos Prácticos</li>

    <li>Sus datos serán enviados al docente de su curso quien los validará y usará para el seguimiento del curso</li>
  </ul>


  Por el momento, Enma no soporta actualización de datos, pero estamos trabajando para ello y mucho más! Ante cualquier duda, <a href="mailto:matias.dumrauf@gmail.com?Subject=Consulta%20sobre%20enma" target="_top">podés enviar un mail al administrador</a> y te contestaremos lo antes posible :).
</p>
