<% provide(:title, 'Contacto') %>
<h1>Contacto</h1>
<p>
  Ante cualquier duda, podés <a href="mailto:matias.dumrauf@gmail.com?Subject=Consulta%20sobre%20enma" target="_top">enviar un mail al administrador</a> y te contestaremos lo antes posible :).
</p>
