<% provide(:title, 'Contacto') %>
<h1>Contacto</h1>
<p>
	Podés comunicarte con nosotros en la lista de correos de tu curso. También podés tener acceso al código fuente de esta página accediendo al siguiente  <a href="https://github.com/dds-utn/enma">repositorio github</a>.
</p>