<% provide(:title, 'Help') %>
<!DOCTYPE html>
<h1>Ayuda</h1>
<p>
	<h3>Pasos para registrarte</h3>

  Antes que nada, asegurate de <a href="https://github.com/join"> tener una cuenta Github</a>.
  <br><br>
  <ol>
    <li>Click en <kbd>Ingresá con Github!</kbd> Vas a ser redirigido a Github</li>
    <li>Click en <kbd>Allow</kbd> para autorizar a Enma a obtener tu nombre, email y usuario</li>
    <li>Selecciona tu curso y grupo. Ingresa número de legajo y click en <kbd>Registrarme</kbd></li>
  </ol>

  <p class="lead"><u><b>Nota</b></u>: sólo vas a poder registrarte una vez!</p>
  Si tuviste éxito, vas a ser redirigido al Home donde...no hay nada aún :D. Pero con esos tres simples pasos, ya hiciste un montón!
  <br><br>
  <ol>
    <li>Fuiste agregado a la organización <a href="github.com/dds-utn">dds-utn</a> en Github</li>
    <li>Se creó un repositorio git en Github para vos y tu grupo en el curso que seleccionaste</li>
    <li>Se te dio acceso al repositorio git de tu grupo</li>
    <li>Tu docente recibió tus datos y los validará para arrancar la cursada</li>
  </ol>

</p>
