<% if user_signed_in? %>
  <%= current_user.name %>
  <h3>Pr칩ximamente!</h3>
<% else %>
  <div class="center hero-unit">
  	<h2>
  		Registrate con 3 clicks a<br>Dise침o de Sistemas
  	</h2>
  	<%= link_to "Ingres치 con GitHub!", user_omniauth_authorize_path(:github), class: "btn btn-large btn-primary" %>
    <br><br><br>
    <blockquote class="blockquote-reverse">
      <a href="/help"><small><u><i>Tengo miedo. S치lvame Kamisama!</i></u> | Krilin <cite title="Sagradas Escrituras">21:42</cite></small></a>
    </blockquote>
  </div>
<% end %>
