<footer class="footer">
	<small>
		<a href="https://ghostlightning.files.wordpress.com/2009/04/dragon-ball-kai-04-lord-enma-son-goku-kami.jpg" target="_blank">ENMA</a> by
		<a href="http://ddsutn.com.ar/" target="_blank">DDS Team</a>

	</small>
	<nav>
		<ul>
			<li><%= link_to "Acerca de", about_path %></li>
			<li><%= link_to "Contacto", contact_path %></li>
		</ul>
	</nav>
</footer>
