<footer class="footer">
	<small>
		ENMA by 
		<a href="http://ddsutn.com.ar/">DDS Team</a>
		
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contacto", contact_path %></li>
		</ul>
	</nav>
</footer>