	<header class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to "Enma", '#', id: "logo" %>
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to "Página principal", root_path %></li>
						<li><%= link_to "Ayuda", help_path %></li>
						<li><%= link_to "Sign in", '#' %></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>